.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 965px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 32px;
  margin: 27px 0 0 614px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 757px;
  margin: 27px 206px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 414px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 194px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }
}